@import url('./fonts.css');

/*Declare general variables*/
:root{
    --bg-color: #0A0A0A;
    --blue-main: #003CFF;
    --green-main: #41EB3D;
    --orange-main: #FF930A;
    --purple-main: #8014FF;
}

*{
    z-index: 1;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: 'Geist', 'Sans-serif';
}

nav{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 20%;
    height: 220px;
}

nav ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul li{
    width: 30px;
    height: 50px;
    border-radius: 5px;
}

#btn_about{
    background: var(--blue-main);
}

#btn_education{
    background: var(--green-main);
}

#btn_skills{
    background: var(--orange-main);
}

#btn_projects{
    background: var(--purple-main);
}

/*Header styles*/
header{
    z-index: 2;
    position: fixed;
    top: 5%;
    left: 35%;
    width: 30%;
    font-size: 1.2em;
    border: 2px solid rgba(0, 0, 0, 0.095);
    border-radius: 40px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
}

header ul img{
    width: 15px;
}

/* General view */
.view{
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: "Nothing You Could Do", cursive;
}

/* Welcome view */
.welcome{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.mi{
    position: absolute;
    top: 0;
    margin-right: 20%;
    width: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 0 0 5px 5px;
    background: white;
    color: var(--bg-color);
}

.mi h6{
    margin: 0;
    font-size: 2em;
    margin-bottom: 10px;
}

.welcome h1{
    margin: 0;
    margin-right: 2%;
    font-size: 14em;
}

.whoami{
    width: 28%;
    font-size: 2em;
    margin-right: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whoami img{
    width: 50px;
    border-radius: 50%;
}

/* Separators */
.separator{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 0;
}

.separator p{
    margin: 0;
    color: rgba(0, 0, 0, 0.233);
    font-family: "Nothing You Could Do", cursive;
    font-weight: bold;
    font-size: 30px;
}

#sp_welcome{
    background: var(--blue-main);
}

#sp_about{
    background: var(--green-main);
}

#sp_education{
    background: var(--orange-main);
}

#sp_skills{
    background: var(--purple-main);
}

/* About me view*/
.about_me{
    background: var(--blue-main);
}

/* About me view*/
.education{
    font-size: 1.1em;
    background: var(--green-main);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.education h1{
    position: absolute;
    color: green;
}

.education h4, h5, p{
    margin: 0;
}

.education h5, p{
    color: green;
}

.education p{
    margin-bottom: 30px;
}

.edu_formal, .certifications{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#sep{
    opacity: 0.2;
    width: 3%;
}

.edu_formal h1{
    left: 50px;
    bottom: 10%;
}

.certifications h1{
    top: 5%;
    right: 50px;
}

.certifications{
    align-items: start;
}

/* Stickers */

.stickers_bg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 black;
}

.stickers_bg img{
    width: 70%;
}

#sticker_edu1{
    width: 15%;
    position: absolute;
    right: 90px;
    bottom: 190px;
    filter: drop-shadow(5px 5px 0 black);
}

#sticker_edu2{
    position: absolute;
    left: 90px;
    top: 100px;
}

/* Skilss me view*/
.skills{
    background: var(--orange-main);
    display: flex;
    justify-content: space-between;
}

.skill{
    width: 55%;
    height: 100%;
}

.tecnos{
    width: 35%;
    height: 100%;
}

/* Paper efect */

.paper {
    width: 90%;
    height: 80%;
    margin: 2em auto;
    background: #fff;
    box-shadow: 4px 4px 0 #744500;
    background-image:
      linear-gradient(
        90deg,
        #fff 12px, 0,
        #744500 15px, 0,
        var(--orange-main) 20px, 0,
        #fff 100%
      ),
      radial-gradient(
        circle closest-side,
        rgba(255,255,255,0) 88%,
        #fff 100%
      ),
      radial-gradient(
        circle at 22px 8px,
        var(--orange-main) 40%,
        #744500 40%,
        #744500 100%
      );
    background-size: 32px 8px, 32px 16px, 32px 16px;
    background-repeat: space no-repeat;
    background-position: center top, center 6px, center 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .paper img{
    margin: 5%;
    width: 20%;
  }

.skills h1{
    height: 5vh;
    margin: auto 0;
    transform: rotate(270deg);
    font-size: 4em;
}

/* About me view*/
.projects{
    background: var(--purple-main);
}

/* Footer */
footer{
    width: 100%;
    height: 70vh;
    background: var(--bg-color);
}

/* Back button */
.btn_back{
    position: fixed;
    bottom: 0;
    margin-left: 10%;
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: white;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.btn_back i {
    margin-top: 105vh;
    width: 60px;
    height: 70px;
    color: var(--bg-color);
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}